@CHARSET "UTF-8";
input.entry{
	width: 24px;
}
input.entry:focus{
	background-color:yellow;
}
input.augmented{
	width: 24px;
	background-color:#CBCBCB;
}
div.hidden{
	display:none;
	text-align: center;
	align: center;
}