@CHARSET "UTF-8";
div{
	margin:0 auto;
}
input.entry{
	width: 24px;
	text-align:right;
}
input.entry:focus{
	background-color:yellow;
}
input.augmented{
	width: 24px;
	background-color:#CBCBCB;
	text-align:right;
}
div.hidden{
	display:none;
	text-align: center;
	align: center;
}

#StepCtrl{
	padding:15px;
	margin: 0 auto;
}

#StepCtrl a{
	width: 100px;
	height:30px;
	background-color: lightgray;
	opacity: 0.8;
	padding:5px;
	margin:5px;
	color:green;
}

/* output div classes
*/

/* 	div element for each step classes */
/* 	default: no display */
/* 	toggle: show */
	.step{
		display:none; 
	}
	.stepshow{
		display:block;
	}

/* div element for explanation	 */
div.explanation{
	width:50%;
	text-align:center;
	margin: 0 auto;
	font-family: sanserif;
}